services:
  - type: web
    name: ai-summarizer-backend
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    region: singapore
    plan: free
    autoDeploy: true
    healthCheckPath: /
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHONPATH
        value: /app
      - key: PORT
        value: 5000
      - key: ALLOWED_ORIGINS
        value: "https://ai-article-summarizer-zeta.vercel.app"
