version: 1

services:
  - type: static
    name: frontend
    repo: https://github.com/Nehasasikumar/AI_Article_Summarizer.git
    branch: main
    buildCommand: npm install && npm run build
    outputDir: dist
    rootDir: frontend
    envVars:
      - key: VITE_API_BASE_URL
        value: "[REPLACE WITH YOUR BACKEND URL ON RENDER, e.g. https://your-backend.onrender.com]"

  - type: web
    name: backend
    runtime: python
    repo: https://github.com/Nehasasikumar/AI_Article_Summarizer.git
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    rootDir: backend
    envVars:
      - key: SECRET_KEY
        value: "6db0a4b33b094c24e8d0c0534b7fe0922c1bbbe5b25494115b88037ffdcbe62e"
      - key: MONGODB_URI
        value: "mongodb+srv://Neha:Neha@@54@ai-article-summarizer.r3oeuyq.mongodb.net/?retryWrites=true&w=majority&appName=AI-Article-Summarizer"
